

/*# sourceMappingURL=theme.css.map */
.block{
     width: 100%;
     height: 100vh;
     display: block;
     outline: 1px solid grey;
}
header{
    width: 100%;
    height: 10vh;
    outline: 1px solid grey;
    @media  (min-width: 800px)  {
        width: 50%;
    }
}
.flex_col {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.flex_row {
    display: flex;
    flex-direction: row;
    height: 100%;
}
.about_content{
    width: 100%;
}