

/*# sourceMappingURL=theme.css.map */
.block{
     width: 100%;
     height: 100vh;
     display: block;
     outline: 1px solid grey;
}
header{
    width: 100%;
    height: 10vh;
    outline: 1px solid grey;
}
.flex_row {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.aboutus{
    
}