title = "home"
url = "/"
layout = "defaults"
is_hidden = 0
==
<div class="block big_picture">
    <img src="{{ 'assets/images/slider-bg2.jpg'|theme}}" style="width:100%; height: 100%;" alt="">
</div>

<div class="block aboutus flex_row">
    <div class="about_content">
        {% content 'aboutus' %}
    </div>
<div class="video_slides">
        <img src="{{ 'assets/images/slider-bg2.jpg'|theme}}" style="width:100%; height: 100%;" alt="">
</div>
</div>

<div class="block services">
services
</div>

<div class="block our_work">
our work
</div>

<div class="block our_team">
our team
</div>

<div class="block contact_us">
contact us
</div>